body {
  font-family: "Andale Mono", monospace;
  margin: 0;
  padding: 0;
  width: 90%;
}
table {
  width: 100%;
  border-collapse: collapse;
}


h1 {
font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 9px #333333;
}

h2 {
  cursor: pointer;
}

h2:hover {
  color: #333333;
}
h3 {
  background-color: rgba(14, 88, 46, 0.5);
  color: white;
  border-right: 5px;
  border-radius: 5px;
  width: 95%;
  padding: 10px;
}
.filter-buttons button {
  margin: 10px;
  padding: 8px 10px;
  background-color: #0e582e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-buttons button:hover {
  background-color: #0a3c1e;
}


.fundName {
  background-color: #0e582e;
  color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.fundDetails table {
  width: 100%;
  border-collapse: collapse;
  margin-left: 10px;
}

.fundDetails td {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.fundDetails tr:hover {
  background-color: #f5f5f5;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 8px;
  margin-bottom: 7px;

  background-color: #9c9a9a;
  border-radius: 5px;
  width: 95%;
}

th {
  text-align: left;
  padding: 8px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: blue;
}


@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5em;
  }
}
